*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

/* reset ul sin puntos */
ul
{
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px;
}


body {
  width:100%;
  text-align: center;
  background-color: #fafafa;
}

.layout {
  width: 100%;
  /* height:100vh; */
  margin : 0px auto;
  display : grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto 1fr 1fr auto;

  grid-template-areas: 
  "banner banner"
  "form content"
  "form content"
  "footer footer"
  
  ;
}

.layout .banner {
  grid-area: banner;
  /* grid-column-start: 1;
  grid-column-end:3; */
  /* background: green; */
}

.layout .form {
grid-column-start: 1;
grid-column-end:2;
grid-row-start:2;
grid-row-end: 3;
background: red;
}

.layout .slider-ofertas {
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: orange;
  width: 100%;
}

.contenido
{
  grid-area: content;
  width:100%;

}

.layout .ofertas {

  /* grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 3; */
}

.layout .footer {
  grid-column-start: 1;
  grid-column-end:3;
  grid-row-start: 4;
  background: black;
  color: white;
  width:100%;
}
 
#header {
  display: grid;
  grid-template-columns: 44% 20% 30%;
  margin-bottom: 32px;
  align-items: center;
  width: 100%;
  height: 185px;
  background-color: #e6e9f0;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}
  
/*  */
.logo {
  display: grid;
  grid-template-columns: 10% 60%;
  grid-template-rows: 95px;
  font-weight: 900px;
  font-size: 15px;
  padding: 10px;
  margin-left: 43px;
  text-shadow: 1px 1px 0px #ccc;
}
  
.logo_r {
  font-family: 'Faster One', cursive;
  font-size: 70px;
  color: #ff0000;
  text-shadow: 1px 6px 2px #222;
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 1;
}
  
.logo h1 {
  width: 100%;
  margin-top: 46px;
  margin-left: -9px;
  font-size: 40px;
  color: #000080;
  text-shadow: 1px 1px 2px;
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: left;
}
  
.logo p {
  color: red;
  font-family: 'Caveat', cursive;
  font-size: 22px;
  font-style: oblique;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-left: -94px;
}
  
.logo img {
  width: 280px;
}
  
.contacto {
  display: grid;
  /* grid-template-columns: 15% 40%; */
  grid-template-columns: 1fr;
  width: 100%;
  padding-right: 10px;
  margin-top: 2px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900px;
  font-size: 15px;
}
  
.contacto img {
  width: 45px;
}
  
.contacto h2 {
  font-size: 20px;
  margin-top: -39px;
  margin-left: -63px;
}

.contacto p {
  margin-right: 124px;
}
  
#reserva-telefono {
  font-family: "Open Sans", sans-serif;
  margin-left: 66px;
  margin-top: -15px;  
}
  
#idioma {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}
  
#idioma > ul {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: right;
  height: 100%;
  list-style: none;
}
  
#eslogan {
  display: grid;
  grid-template-columns: 1fr;
    
  width: 100%;
  margin-top: -53px;
  margin-left: 37px;
  
  position: absolute;
  z-index: 100;
  justify-items: center;
    
  color: #0d6efd;
  font-family: 'Lobster', cursive;
  font-size: 63px;
  font-weight: bold;
  font-style: oblique;
  text-shadow: 1px 6px 2px #222;
}
/*---- Inicio Datos-busqueda/Vehículos-Ofertados encontrados ------- */
.form-busca{
  margin-top: -32px;
}

.form-container {
 
}


/*---- Inicio Formulario busqueda (aside) -------------------*/

.aside-box {
  display: flex;
  flex-flow: row wrap;
  width: 89%;
  height: 299px;
  margin-top: 12px;
  margin-left: 26px;
  padding-top: 0px;
  background: #c3d2f2;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
  position: relative;
}
  
.titulo-form {
  margin-left: 11px;
  margin-top: 13px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -21px;
}

.titulo-form-cambiar {
  display: inline;
  margin-left: 60px;
}

.titulo-form a {
  margin-left: 13px;
  margin-top: 18px;
  font-family: Sans;
  font-size: 19px;
  color: #0d68c0;
  cursor: pointer;
  text-decoration: none;
}

.titulo-form a:hover {
  font-family: sans-serif;
  font-size: 19px;
  color: black;
  text-decoration: underline;
}
  
.form-buscar {
  padding: 20px;
}
  
.formDateRecogida {
  /* margin-bottom: -45px; */
}
  
.formDateDevolucion{
  
}
  
.labelDate-form-recogida {
  margin-left: -192px;
  margin-right: 31px;
  font-size: 15px;
  font-weight: bolder;
}
  
.labelDate-form-devolucion {
  margin-left: -192px;
  margin-right: 12px;
  font-size: 15px;
  font-weight: bolder;
}
  
.form-control-date {
  width: 132px !important;
  margin-left: -8px;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.form-control-clock {
  width: 75px !important;
  margin-left: 2px;
  margin-right: -4px;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.img-calendar {
  width: 24px;
  margin-right: 37px;
  margin-left: 3px;
  background-color: #e9ecef;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.img-clock{
  width: 26px;
  margin-top: 5px;  
  margin-right: -11px;
  margin-left: 7px;
  background-color: #e9ecef;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.labelClock-form-recogida{
  margin-right:2px;
  font-size: 20px;
  font-weight: bolder;
}
  
.labelClock-form-devolucion{
  margin-right:2px;
  font-size: 20px;
  font-weight: bolder;
}
  
.form-contol-clock {
  width: 68px !important;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.form-chequeo {
  margin-left: 48px;
  margin-top: -6px;
  font-size: 17px;
}
  
.btnMod {
  margin: 13px 41px;  
  margin-left: 111px;
}
/*---- Fin Formulario busqueda (aside) -------------------*/

/* --------------- Inicio Slider --------------------------- */

.carruselSlider{
  width: 100%;
  /* width: 1222px; */
  /* margin-left: 13px; */
}

.col-p h5 {
  font-size: 12px;
  font-weight: bold;
  /* font-weight: 700px; */
}

.row-p {
  width: 77%;
}

.col-p {
  height: 183px;
    border: 1px solid #000000;
    margin-left: 30px;
    margin-right: -18px;
    border: 1px solid #e9e7e7;
    border-radius: 3px;
    margin-top: 11px;
    background-color: #ffffff;
}

.img-ta {
  margin-top:-20px;
  width: 100%;
}

.precio {
 width: 116%;
 background: #f2f2f2;
 margin-left: -11px;
}

.precio-txt {
  margin-top: 0px;
  margin-left: 15px;
  color: #666;
  font-size: 11px;
}

.precio-p {
  font-weight: bold;
  margin-top: -17px;
  margin-left: 15px;
}

/* ---------- Fin    Slider ----------- */




.tablero_ofertas{
  width: 100%;
  border: 1px solid#ddd;
  /* margin-left: 31px;
  margin-top: -65px; */
  margin-bottom: 62px;
  box-shadow: 1px 1px 4px #1e1c1c;
  background-color: #fbe8ec;
}


/* ----- Inicio Ofertas --------------- */
.oferta
{
  width: fit-content;
  display: grid;
  grid-template-columns: 250px 350px 185px;
  grid-template-rows: auto 25px;
  grid-template-areas: 
  "i c d"
  "z z d";
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  color: black;
  /* font-size: 12px; */
  margin-bottom: 20px;
  background-color: #ffffff;
  column-gap: 10px;

}

.rentacar-info
{

  grid-area: i;

  display: grid;
  grid-template-columns: 0.2fr;
  grid-template-rows: 30px 150px 25px 20px;
  grid-template-areas:
      "marca"
      "imagen-coche"
      "."
      "condiciones"
      ;
  justify-items: flex-start;
  align-items: center;
  height: 100%;


}

.car-info
{
  grid-area: c;

  display: grid;
  grid-template-columns: minmax(250px, 400px);
  grid-template-rows: 40px 40px auto;
  grid-template-areas: 
  "titulo"
  "info"
  "iconos";
  justify-items: flex-start;
  align-items: flex-start;


}

.car-name {

  color: #333333;
  font-size: 1.8em;
  font-weight: 700;
  text-size-adjust: none;
  line-height: 1.3em;
  align-self: flex-end;
  margin-bottom: 0px;

}

.car-info-prices
{
  grid-area: d;
  align-self: center;
  justify-self: flex-start;
  display: grid;
  grid-template-columns: 0.2fr;
  grid-template-rows: 20px 40px 40px 20px 40px;
  grid-template-areas: 
  "."
  "precio"
  "dias"
  "."
  "botonreservar";
  justify-items: flex-end;
  align-items: center;
  height: 100%;

}

.btn-reservar {
  grid-area: botonreservar;
  width: 160px;
}


.car-info-zones
{
  grid-area: z;
  align-items: center;
  justify-self: flex-start;
  align-self: flex-start;
}

.car-image
{
  grid-area: imagen-coche;
  max-width: 243px;
  box-sizing: border-box;
  border-collapse: collapse;
}

.boton_modal
{
  grid-area: condiciones;
  margin-left: 1.5em;
  justify-self: flex-start;
}

.icon-24
{
  width: 16px;
  margin-top: 7px;
}

.icon-25
{
  width: 20px;
  margin-bottom: 6px;
}

.icono-azul
{
  
  width: 32px;
  height: 32px;
  
}

.car-info-services
{
  grid-area: info;
  display: grid;
  grid-template-columns: repeat(4, 39px);
  grid-template-rows: 31px;
  grid-template-areas: 
  "a a a a"
  "l l . o"
  ;

  justify-items: flex-start;
}


.servicios-asientos{
  width: 82%;
  border: 1px solid #ccc;
  margin-left: 2px;
  margin-top: 4px;
}

.icon-number{
  display: inline;
  font-size: 13px;
  color: #787878;
}

.servicios-puertas{
  border: 1px solid #ccc;
  width: 82%;
  margin-left: 2px;
  margin-top: 4px;
}

.servicios-aire{
  border: 1px solid #ccc;
  width: 82%;
  margin-left: 2px;
  margin-top: 4px;
}

.servicios-trasmision{
  border: 1px solid #ccc;
  width: 97%;
  margin-left: 2px;
  margin-top: 4px;
}

.servicios-kilometraje
{
  
}

.icon-kilometro{
  display: inline;
  font-size: 13px;
  color: #787878;
}

.aviso-edad
{
  border: 3px solid rgb(87, 87, 87);
  background-color: rgb(255, 229, 181);
  border-radius: 2px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-areas: "i d";
  justify-items: center;
  align-items: flex-start;
  padding: 10px;
  padding-bottom: 0px;

}

.icono-alerta-edad
{

}

.texto-alerta-edad
{
  text-align: justify;
  padding-right: 20px;
  font-size: 18px;
  line-height: 1.4;

}

.car-info-services-2{

  grid-area: iconos;
  width: 100%;

  /* text-align: justify; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.servicios-cancelaciones
{
  /* margin-left: 2px; */

}

.icon-cancelaciones{
  display: inline;
  font-size: 13px;
  color: #787878;
}

.servicios-modificaciones
{
  
}

.icon-modificaciones{
  display: inline;
  font-size: 13px;
  color: #787878;
}

.titulo-nombre
{
  font-size: 1.8em;
}

.servicios-asientos-icono
{
  background: url(/cdn/img/icons/icons-128.png) no-repeat;
  background-size: 96px;
}

.current-price
{
  grid-area: precio;
  color: #383838;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1em;

}

.current-price-consultar
{
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
}

.old-price
{
  text-decoration: line-through;
  font-size: 1.5em;
  color: rgb(189, 76, 66);

}
.error-sinproductos
{
  font-size: 1em;
  text-align: left;
}

.description-price
{
  grid-area: dias;
  color:#126df6;
  font-size: 13px;
  align-self: flex-start;

}

.link-condiciones
{
  text-decoration: underline;
  cursor: pointer;

}

.title-specials
{
  font-size: 1.1em;
  font-weight: 800;
  color: rgb(217, 145, 38);

}

/* Marca */
.icono-16px
{
  width: 16px;
}
.marca-contenido 
{
  grid-area: marca;
  align-self: flex-end;
  color: white;
  width: 70%;
  height: 25px;
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  /* clip-path: polygon(100% 1%, 86% 48%, 100% 100%, 0% 100%, 0 45%, 0% 0%); */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 0px 0px 0px 10px;
  
  
}

.marca-contenido-azul
{
  background: rgb(44, 167, 216) linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);

}

.marca-contenido-naranja
{
  background: rgb(193, 23, 39) linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);

}



/* ----- Fin Ofertas --------------- */

/* VENTANA MODAL */


.modal-visible {
  visibility: visible;
  opacity: 1;
}

.modal-invisible
{
  visibility: hidden;
  opacity: 0;
}

.overlay-transparente
{
  display: block;
  background: rgba(0, 0, 0, 0.563);
  
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;


}

.details-modal {

  position: relative;

  background: rgb(255, 255, 255);
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding-bottom: 32px; 
  padding-right: 0px;
  overflow: auto;
  
  width: 700px;
  height: 400px;
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-left: 25px;

  
}
.details-modal-close {
  position: absolute;
  
  align-items: center;
  color: rgb(17, 24, 39);
  display: flex;
  height: 4.5em;
  justify-content: center;
  
  right: 0;
  top: 0;
  width: 4.5em;
  cursor: pointer;
}




.details-modal-title {
  color: rgb(17, 24, 39);
  padding: 1.5em 2em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
}

.details-modal-title-text 
{
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}

.subtitulo-contenido-modal
{
  font-size: 15px;
  font-weight: 900;
  margin-top: 20px;
  text-decoration: underline;
}
.negrita
{
  
  font-weight: 700;
}

.boton-cerrar-modal
{
  width: 100px;
  height: 100px;
}

/* FIN VENTANA MODAL */


/* TOOLTIP */


[data-tooltip]
{
  position: relative;
  z-index: 10;
}


[data-tooltip]:before,
[data-tooltip]:after 
{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}


[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}


[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; 
  transform-origin: top;  
  transform: translateX(-50%) scaleY(0);
}


[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}


[data-tooltip]:hover:before {
  transition-delay: 0.2s;
  transform: translate(-50%, -5px) scale(1);
}


[data-tooltip]:hover:after {
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}


[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
  left: auto;
  right: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location="left"]:before
{
  transform: translate(-5px, 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before
{
  transform: translate(-5px, 50%) scale(1);
}

/* Flechita */
[data-tooltip-location="left"]:after
{
  border-width: 5px 0px 5px 5px;
  border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="left"]:hover:after
{
  transform: translateY(50%) scaleX(1);
}



/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after
{
  left: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location="right"]:before
{
  transform: translate(5px, 50%) scale(0.5);
}

[data-tooltip-location="right"]:hover:before
{
  transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after
{
  border-width: 5px 5px 5px 0px;
  border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="right"]:hover:after
{
  transform: translateY(50%) scaleX(1);
}


/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after
{
  top: calc(100% + 5px);
  bottom: auto;
}

[data-tooltip-location="bottom"]:before
{
  transform: translate(-50%, 5px) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before
{
  transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after
{
  border-width: 0px 5px 5px 5px;
  border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
  transform-origin: bottom;
}



/* FIN TOOLTIP*/

/*---------------- Fin Datos-busqueda/Vehículos-Ofertados encontrados ---------- */

/* CARRUSEL */
.carousel
{
  /* position: relative; */

  display: grid;
  grid-template-columns: 60px auto 60px;
  grid-template-areas: "izq carrusel der";


}

.carrusel-control
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  opacity: .5;

}

.carrusel-control-prev
{
  grid-area: izq;
  width: 100%;
}


.carousel-inner {
  grid-area: carrusel;
}

.carrusel-control-next 
{
  grid-area: der;
  width: 100%;

  
}
