*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
  }
  
  /* reset ul sin puntos */
  ul
  {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0px;
  }
  
  
  body {
    width:100%;
    text-align: center;
    background-color: #fafafa;
  }

.header {
  height: 190px;
  background-color: #e6e9f0;
}

.container {
  width: 1200px;
  /* position: relative; */
  margin-left: 140px;
  display: flex;
}

.container a img {
  width: 300px;
  margin-top: 25px;
}

.contacto{
  width: 100%;
  margin-top: 73px;
}

.contacto img {
  width: 150px;
  vertical-align: middle;
  border-style: none;
}

/* ------- Inicio Contenido ------ */
.principal {
  width: 100%;
}

.content{
  width: 100%;
}

.espacio {
  display: block;
}

.blockContent{
  width: 1200px;
  margin-left: 140px;
  position: relative;
  margin-top: 25px;
  margin-right: auto;
  margin-left: 155px;
}

.sidebarBlock{
  width: 280px;
  float: left;
  width: 240px;
  z-index: 100;
}

.dataContentBox{
  border-top-color: #e6e9f0;
  box-shadow: 0 5px 0 #e6e9f0 inset;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-color: rgb(221, 221, 221);
  margin-bottom: 0;
  position: relative;
}

.dataContentBox .databox {
  font-size: 14px;
  line-height: 16px;
}

.databox {
  padding: 20px !important;
  font-size: 14px;
  line-height: 16px;
}

.imgDatabox{
  width: 110%;
  max-width: 330px; 
}

.carName {
  margin: 0px;
  font-weight: bolder;
  font-size: 15px;
}

.car-info-services
{
  grid-area: info;
  display: grid;
  grid-template-columns: repeat(4, 39px);
  grid-template-areas: 
  "a a a a";
  justify-items: flex-start;
  margin-left: 20px;
  margin-top: 13px;
}

.servicios-asientos{
  width: 82%;
  border: 1px solid #ccc;
  margin-left: 2px;
  margin-top: 4px;
}

.icon-number{
  display: inline;
  font-size: 13px;
  color: #787878;
}

.servicios-puertas{
  border: 1px solid #ccc;
  width: 82%;
  margin-left: 2px;
  margin-top: 4px;
}

.icon-24
{
  width: 16px;
  margin-top: 7px;
}

.servicios-aire{
  border: 1px solid #ccc;
  width: 82%;
  margin-left: 2px;
  margin-top: 4px;
}

.servicios-trasmision{
  border: 1px solid #ccc;
  width: 97%;
  margin-left: 2px;
  margin-top: 4px;
}

/* --  Inicio más servicios del vehículo -- */
.car-info-services2{
  display: grid;
  grid-template-rows: 32px 35px 30px 30px 30px 30px;
}

.servicios-kilometraje
{
  grid-row-start: 1;
  display: block;
  width: 160px;
  margin-top: 4px;
}

.icon-kilometro {
  display: inline;
  font-size: 13px;
  color: #27960a;
  margin-left: 5px;
  margin-top: 5px;
}

.icon-25
{
  width: 20px;
  margin-bottom: -2px;
  
}

.recogida {
  grid-row-start: 2;
  display: flex;
  margin-top: 17px;
}

.recogida h3 {
  margin-left: -17px;
  font-weight: bolder;
  color: #231f1f;
}

.recogida a {
  text-decoration: underline blue;        
  font-family: sans-serif;
  font-size: 12px;
  margin-left: 77px;
  color: blue;
}

.location {
  grid-row-start: 3;
  display: block;
  width: 158px;
  margin-top: 5px;
}

.imgLocation {
  width: 22px;
  margin-left: -176px;
}

.locationText {
  width: 117%;
  margin-top: -21px;
  margin-left: 0px;
}

.locationText h5 {
  font-size: 12px;
}

/* ------ Recogida ------ */
.dateRecogida {
  grid-row-start: 4;
  display: flex;
  width: 205px;
  margin-top: 7px;
  margin-left: -20px;
} 

.dateDevolucion {
  grid-row-start: 6;
  display: flex;
  width: 205px;
  margin-top: 7px;
  margin-left: -20px;
}

.imgDateRecogida, .imgClockDevolucion {
  width: 22px;
}

.textDateRecogida, .textDateDevolucion {
  width: 40%;
  margin-top: 4px;
}

.textDateRecogida h5, 
.textDateDevolucion h5{
  font-size: 12px;
  font-weight: 500;
}

.imgClockRecogida,
.imgClockDevolucion {
  width: 22px;
  margin-left: 37px;
}

.textClockRecogida,
.textClockDevolucion {
  width: 23%;
  margin-top: 4px;
}

.textClockRecogida h5,
.textClockDevolucion h5 {
  font-size: 12px;
  font-weight: 500;
}

/* ------ Flechas --------- */
.flechas {
  grid-row-start: 5;
  display: flex;
  margin-top: 2px;
  margin-left: -17px;
}

.flechas img {
  width: 7%;
}

.flechas p {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 7px;
  color: #4c4a4acc;
}