<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muestra Ofertas encontradas</title>

    <!-- ------------------- jQuery------------------------- -->
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.css">
    <script src="jquery/jquery-3.5.1.min.js"></script>
    <script src="jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <!-- --------------------------------------------------- -->
    
    <!-- ------------- Clock Picker jQuery ----------------- -->
    <link rel="stylesheet" href="clockpicker.css">
    <script src="clockpicker.js"></script>
    <!-- --------------------------------------------------- -->
    
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Caveat & display = swap" rel = "stylesheet ">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Arizonia&family=Charmonman:wght@700&family=Damion&family=Faster+One&family=Galada&family=Gravitas+One&family=Montez&family=Sarina&family=Sonsie+One&display=swap" rel="stylesheet">  
    
    <!------------------- Bootstrap CSS ------------------------>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- --------------------------------------------------- -->
    <link rel="stylesheet" href="css/muestraOferta.css" />
</head>
<body>
    <div class="layout">
        <!-- Inicio Cabecera -->
        <div class="banner">
            <header id="header">
                <div class="logo">
                    <div class="logo_r">
                        R
                    </div>
                    <h1>entCar Mallorca</h1>
                    <p>¡ El mejor precio y servicio !</p>
                </div>

                <div class="contacto">
                    <img src="./img/whatsapp-icon-hd-21.jpg"/>
                    <h2>+34 651 722 345</h2>
                    <p id="reserva-telefono">Contacto reservas</p>
                </div>

                <nav id="idioma">
                    <ul>
                        <li>    
                            <a href="#">Idioma</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!------- Fin Cabecera ---->

            <!------- Inicio Slogan  --------->
            <!-- <section id="eslogan">
                Conozca Mallorca...
            </section> -->
            <!------- Fin Slogan  ------------>
        </div>

        <!------- Inicio formulario de Busqueda ----------------->
        <div class="form-container">
            <!-------- Inicio Formulario de Busqueda ------------>
            <div class="aside-box">
                <div class="titulos">
                    <div class="titulo-form">
                        <label>Datos busqueda</label>
                        <div class="titulo-form-cambiar">
                            <a href="/index.html">Cambiar</a>
                        </div>
                    </div>
                </div>
                <form class="form-inline">
                    <!-------------  Inicio  Fecha/Hora Recogida  ------------------------- -->
                    <div class="form-inline form-buscar">
                        <div class="formDateRecogida">
                            <div class="labelDate-form-recogida">
                                <label>
                                        Recogida:
                                </label>
                            </div>
                            

                                <input type="text" class="form-control form-control-date datepicker" id="fechaRecogida" name="fechaRecogida" value="<%= it.formdata.fechaRecogida %>" data-placement="right" data-align="bottom" data-name="" readonly="">  
                                <img src="./img/img-Calendar/calendar.jpg" alt="Calendario recogida" class="img-calendar triggerRec">

                                <div class="labelClock-form-recogida">
                                    <label></label>
                                </div>
                                <div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
                                    <input type="text" class="form-control form-control-clock" name="horaRecogida" value="<%= it.formdata.horaRecogida %>" readonly=""/>
                                    <span class="input-group-addon">
                                    <img src="./img/Img-Clock/clock.png" alt="Reloj Recogida" class="img-clock">
                                    </span>
                                </div>
                            
                        </div>    
                    </div>
                    
                    <!-- --------------------- Fin Fecha/Hora Recogida  --------------------------->
                    <!-- *********************************************************************** -->
                    <!-- ------------------ Inicio Fecha/Hora Devolucion -------------------------->
                    <div class="form-inline form-buscar">
                        <div class="formDateDevolucion">
                            <div class="labelDate-form-devolucion">
                                <label>
                                        Devolucion :
                                </label>
                            </div>
                                <input type="text" class="form-control form-control-date datepicker" id="fechaDevolucion" name="fechaDevolucion" value="<%= it.formdata.fechaDevolucion %>" data-placement="right" data-align="bottom" data-name="" readonly="">  
                                <img src="./img/img-Calendar/calendar.jpg" alt="Calendario devolucion" class="img-calendar triggerDev">

                                <div class="labelClock-form-devolucion">
                                    <label>
                                
                                    </label>
                                </div>
                                <div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
                                    <input type="text" class="form-control form-control-clock" name="horaDevolucion" value="<%= it.formdata.horaDevolucion %>" readonly=""/>
                                    <span class="input-group-addon">
                                    <img src="./img/Img-Clock/clock.png" alt="Reloj Recogida" class="img-clock">
                                    </span>
                                </div>
                        </div>    
                    </div>
                    <!--------------------------- Fin Fecha/Hora Devolucion  ---------------------->
                    <div class="btnMod">
                        <button id="bt-enviar-index" type="submit" class="btn btn-primary btn-lg btn-block">Modificar</button>
                    </div>
                </form>
            </div>         
            <!-------------------------------- Fin Formulario de Busqueda --------------------------->
        </div>
        <!------- Fin formulario de Busqueda ----------------->
        
        <!--------------- Inicio Slider ---------------------->
        <!-- <div class="carruselSlider"> -->
        <div class="carruselSlider">
            <div id="carousel" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-p">
                            <div class="col col-p">
                                <h5>Citröen C1</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/CitroenC1.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-p">
                                <h5>Citröen C1 Open</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/CitroenC1_open.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-p">
                                <h5>Citröen C1 Automático</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/CitroenC1Automatic.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-p">
                                <h5>Citröen C3</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/CitroenC3.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-p">
                                <h5>Peugeot 108</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/Peugeot_108.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <div class="row row-p">
                            <div class="col col-p">
                                <h5>Peugeot 807</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/Peugeot_807.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div> 
                            </div>
                            <div class="col col-p">
                                <h5>Toyota Aygo</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/ToyotaAygo.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-p">
                                <h5>Toyota Aygo Open</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/ToyotaAygoOpen.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-p">
                                <h5>Piagggio Liberty 125cc</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/PiaggioLiberty_125cc.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-p">
                                <h5>Suzuki Burgman 125cc</h5>
                                <div class="py-4 text-black text-center">
                                    <img class="d-block w-100 img-ta" src="img/Img-Vehiculos/rescambiada/png/Suzuki-Burgman_125cc.png" alt="">
                                </div>
                                <div class="precio">
                                    <div class="precio-txt">
                                        <p>desde</p>
                                    </div>
                                    <div class="precio-p">
                                        <p>3.50€</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div>
    
        <!--------------- Fin Slider ------------------------->


        <!--------------- Inicio Ofertas --------------------->
        <div class="ofertas">
            <div class="tablero_ofertas">
                <h3>O F E R T A S</h3>
            </div>

    <% it.data.forEach(function(element){ %>
            <!-- Ofertas -->
            <article class="oferta">
                <!-- Zona Izquierda-->
                <section class="rentacar-info">
                    <img class="car-image" src="./img/Img-Vehiculos/rescambiada/png/<%= element.imagencoche %>" alt="<%= element.modelo %>">
                    <!-- <span class="">
                        <img src="./" alt="Rentacar">
                        <strong>Empresa Rentacar</strong> 
                        <a class="" href="#">Condiciones</a>
                    </span> -->
                </section>
                <!-- Zona centro -->
                <section class="car-info">
                    
                    <h2 class="car-name"><%= element.modelo %></h2>
                    <div class="car-info-services">
                        <div class="servicios-asientos" title="asientos">
                            <img class="icon-24" src="img/svg/person-fill.svg" alt="persona">
                            <div class="icon-number"><%= element.asientos %></div>
                        </div>
                        
                        <div class="servicios-puertas" title="puertas">
                            <img class="icon-24" src="img/svg/puerta.svg" alt="puertas">
                            <div class="icon-number"><%= element.puertas %></div>

                        </div>
                        
                        <% if (element.aireacondicionado === true) { %>
                        <div class="servicios-aire" title="aire">
                            <img class="icon-24" src="img/svg/aire.svg" alt="aire">
                        </div>
                        <% } %> 

                        <div class="servicios-trasmision" title="transmision">
                            <img class="icon-24" src="img/svg/tansmision.svg" alt="transmision">
                            <div class="icon-number"><%= element.transmision %></div>
                        </div>
                    </div> 
                    <div class="car-info-services-2"> 
                        <div class="servicios-kilometraje" title="kilometraje">
                            <img class="icon-25" src="img/svg/velocimetro.png" alt="kilometraje">
                            <div class="icon-kilometro">Kilometraje Ilimitado</div>
                        </div>

                        <!-- <li class="servicios-combustible" title="El vehículo se entregará con el depósito lleno de combustible y lo deberá devolver lleno; de esta manera no le cobrarán nada por el combustible.<BR/><BR/>Si no devuelve el coche lleno, se le cobrará la gasolina usada a precio de mercado de ese día más los gastos de repostaje: 23.18 €, consultar el precio de la gasolina en http://geoportalgasolineras.es">
                            <img class="icon-24" src="./img/svg/person-fill.svg" alt="combustible">
                            <span>Combustible Lleno/Lleno</span>
                        </li> -->

                        <div class="servicios-cancelaciones" title="Cancelaciones">
                            <img class="icon-25" src="img/svg/hecho.svg" alt="cancelaciones">
                            <div class="icon-cancelaciones">Cancelación gratuita</div>
                        </div>
                        <div class="servicios-modificaciones" title="Modificaciones">
                            <img class="icon-25" src="img/svg/hecho.svg" alt="modificaciones">
                            <div class="icon-modificaciones">Modificación gratuita</div>
                        </div>
                    </div>
                </section>

                <!-- Zona derecha -->
                <section class="car-info-prices">
                    <span class="current-price"><%= element.precioactual %> €</span>
                    <!-- <span class="old-price">100.81 €</span> -->
                    <span class="description-price" title="Precio total para 8 días">Precio por 8 días</span>
                    <input type="button" class="btn btn-xxl btn-success btn-reservar" value="Reservar">
                    <!-- <span class="marked">Modificaciones Gratis</span> -->
                </section>

                <!-- Zona abajo -->
                <!-- <section class="car-info-zones">
                    <i class="car-info-zones-image"></i>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, assumenda!</p>
                </section> -->

            </article>
<% }) %>

<!--  -->

            <article class="oferta">
                <!-- Zona Izquierda-->
                <section class="rentacar-info">
                    <img class="car-image" src="./img/Img-Vehiculos/rescambiada/png/CitroenC1Automatic.png" alt="Citroen C1">
                    <!-- <span class="">
                        <img src="./" alt="Rentacar">
                        <strong>Empresa Rentacar</strong> 
                        <a class="" href="#">Condiciones</a>
                    </span> -->
                </section>
                <!-- Zona centro -->
                <section class="car-info">
                    <h2 class="car-name">Citröen C1</h2>
                    <div class="car-info-services">
                        <div class="servicios-asientos" title="asientos">
                            <img class="icon-24" src="img/svg/person-fill.svg" alt="persona">
                            <div class="icon-number">4</div>
                        </div>
                        
                        <div class="servicios-puertas" title="puertas">
                            <img class="icon-24" src="img/svg/puerta.svg" alt="puertas">
                            <div class="icon-number">3</div>

                        </div>

                        <div class="servicios-aire" title="aire">
                            <img class="icon-24" src="img/svg/aire.svg" alt="aire">
                        </div>

                        <div class="servicios-trasmision" title="transmision">
                            <img class="icon-24" src="img/svg/tansmision.svg" alt="transmision">
                            <div class="icon-number">M</div>
                        </div>
                    </div> 
                    <div class="car-info-services-2"> 
                        <div class="servicios-kilometraje" title="kilometraje">
                            <img class="icon-25" src="img/svg/velocimetro.png" alt="kilometraje">
                            <div class="icon-kilometro">Kilometraje Ilimitado</div>
                        </div>

                        <!-- <li class="servicios-combustible" title="El vehículo se entregará con el depósito lleno de combustible y lo deberá devolver lleno; de esta manera no le cobrarán nada por el combustible.<BR/><BR/>Si no devuelve el coche lleno, se le cobrará la gasolina usada a precio de mercado de ese día más los gastos de repostaje: 23.18 €, consultar el precio de la gasolina en http://geoportalgasolineras.es">
                            <img class="icon-24" src="./img/svg/person-fill.svg" alt="combustible">
                            <span>Combustible Lleno/Lleno</span>
                        </li> -->

                        <div class="servicios-cancelaciones" title="Cancelaciones">
                            <img class="icon-25" src="img/svg/hecho.svg" alt="cancelaciones">
                            <div class="icon-cancelaciones">Cancelación gratuita</div>
                        </div>
                        <div class="servicios-modificaciones" title="Modificaciones">
                            <img class="icon-25" src="img/svg/hecho.svg" alt="modificaciones">
                            <div class="icon-modificaciones">Modificación gratuita</div>
                        </div>
                    </div>
                </section>

                <!-- Zona derecha -->
                <section class="car-info-prices">
                    <span class="current-price">81.73 €</span>
                    <!-- <span class="old-price">100.81 €</span> -->
                    <span class="description-price" title="Precio total para 8 días">Precio por 8 días</span>
                    <input type="button" class="btn btn-xxl btn-success btn-reservar" value="Reservar">
                    <!-- <span class="marked">Modificaciones Gratis</span> -->
                </section>

                <!-- Zona abajo -->
                <!-- <section class="car-info-zones">
                    <i class="car-info-zones-image"></i>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, assumenda!</p>
                </section> -->

            </article>
        </div>
        <!--------------- Fin Ofertas ------------------------>

        <div class="footer">
            5 footer
        </div>
    </div>

</body>
</html>


<!----------------------------------- Scripts -------------------------------------------------->
<script src="/js/muestraOferta.js"></script>
<!----------------------------------------------------------------------------------------------->

<!----------------------------------------------------------------------------------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!----------------------------------------------------------------------------------------------->

<!----------------------------------------------------------------------------------------------->
<script type="text/javascript" src="jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="jquery/popper.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<!----------------------------------------------------------------------------------------------->
