<form method="post"  action="<%=it.locations.detalles %>">
    <input type="hidden" name="success" value="<%=it.success %>">
    <input type="hidden" name="fase" value="2">
    <input type="hidden" name="idioma" value="<%=it.locations.idioma_web %>">
    <input type="hidden" name="conductor_con_experiencia" value="<%= it.formdata.conductor_con_experiencia %>">
    <input type="hidden" name="fechaRecogida" value="<%= it.formdata.fechaRecogida %>">
    <input type="hidden" name="horaRecogida" value="<%= it.formdata.horaRecogida %>">
    <input type="hidden" name="fechaDevolucion" value="<%= it.formdata.fechaDevolucion %>">
    <input type="hidden" name="horaDevolucion" value="<%= it.formdata.horaDevolucion %>">
    
    <!-- Ofertas -->
    <article class="oferta">
        <!-- Zona Izquierda-->
        <section class="rentacar-info">
            <% if (element.masvalorado === true && j !== 0) { %>
            <div class="marca-contenido marca-contenido-azul">
                <img class="icono-16px" src="./img/svg/ribbon-check.svg" alt="<%=it.locations.alt_marca %>">
                <%=it.locations.elmasvalorado %>
            </div>
            <% } else if (j === 0) { %>
                <div class="marca-contenido marca-contenido-naranja">
                    <img class="icono-16px" src="./img/svg/ribbon-check.svg" alt="<%=it.locations.alt_marca %>">
                    <%=it.locations.elpreciomasbajo %>
                </div>
            <% } %>
            <input type="hidden" name="imagen_vehiculo" value="<%= element.ImagenVehiclo %>">
            <input type="hidden" name="descripcion_vehiculo" value="<%= element.descripcion %>">
            
            <picture class="car-image">
                <source srcset="./img/Img-Vehiculos/<%= element.ImagenVehiclo %>_Card.avif" >
                <source srcset="./img/Img-Vehiculos/<%= element.ImagenVehiclo %>_Card.webp">
                <img  src="./img/Img-Vehiculos/<%= element.ImagenVehiclo %>_Card.png" alt="<%= element.descripcion %>">
            </picture>
            
            <a class="boton_modal" role="button" data-tooltip-location="top" data-tooltip="<%=it.locations.tooltip_condiciones%>">
                <img src="./img/svg/condiciones.svg" alt="<%=it.locations.alt_icono_condiciones %>">
                <span class="link-condiciones"><%=it.locations.condiciones %></span>
            </a>
        </section>
        <!-- Zona centro -->
        <section class="car-info">

            <h2 class="car-name">
                <%= element.descripcion %>
            </h2>
            <input type="hidden" name="pax_vehiculo" value="<%= element.pax %>">
            
            <div class="car-info-services">
                <div class="servicios-asientos" data-tooltip="<%=it.locations.tooltip_vehiculo_asientos1%> <%= element.pax %> <%=it.locations.tooltip_vehiculo_asientos2%>" data-tooltip-location="top">
                    <img class="icon-24" src="img/svg/persona-black.svg" alt="<%=it.locations.alt_persona%>">
                    <div class="icon-number">
                        <%= element.pax %>
                    </div>
                </div>

                <% if (element.puertas> 0) { %>
                    <div class="servicios-puertas" data-tooltip="<%=it.locations.tooltip_vehiculo_tiene%>  <%= element.puertas %> <%=it.locations.tooltip_vehiculo_puertas%>" data-tooltip-location="top">
                        <img class="icon-24" src="img/svg/puerta-black.svg" alt="<%=it.locations.alt_puerta%>">
                        <div class="icon-number">
                            <%= element.puertas %>
                        </div>
                    </div>
                <% } %>
                    
                <input type="hidden" name="puertas_vehiculo" value="<%= element.puertas %>">
                <input type="hidden" name="aireacondicionado_vehiculo" value="<%= element.aireacondicionado %>">
                <input type="hidden" name="transmision_vehiculo" value="<%= element.transmision %>">

                <% if (element.aireacondicionado===1) { %>
                    <div class="servicios-aire" data-tooltip="<%=it.locations.tooltip_vehiculo_tiene%> <%=it.locations.tooltip_aire_acondicionado%>" data-tooltip-location="top">
                        <img class="icon-24" src="img/svg/aire-black.svg" alt="<%=it.locations.alt_aire%>">
                    </div>
                <% } %>

                <% if  (element.transmision === "M" ) { %>
                    <input type="hidden" name="tooltip_cambio" value="<%=it.locations.tooltip_cambio_manual %>">
                    <input type="hidden" name="alt_cambio" value="<%=it.locations.alt_cambio_manual%>">

                    <div class="servicios-trasmision" data-tooltip="<%=it.locations.tooltip_vehiculo_tiene%> <%=it.locations.tooltip_cambio_manual %>" data-tooltip-location="top">
                    <img class="icon-24" src="img/svg/cambio_manual-black.svg" alt="<%=it.locations.alt_cambio_manual%>">
                    <div class="icon-number">M</div>
                <% } else if (element.transmision === "A" ) { %>
                    <input type="hidden" name="tooltip_cambio" value="<%=it.locations.tooltip_cambio_automatico %>">
                    <input type="hidden" name="alt_cambio" value="<%=it.locations.alt_cambio_auto%>">

                    <div class="servicios-trasmision" data-tooltip="<%=it.locations.tooltip_vehiculo_tiene%> <%=it.locations.tooltip_cambio_automatico %>" data-tooltip-location="top">
                    <img class="icon-24" src="img/svg/cambio_automatico-black.svg" alt="<%=it.locations.alt_cambio_auto%>">
                    <div class="icon-number">A</div>
                <% } %>
                </div>
            </div>
            
            <input type="hidden" name="tooltip_vehiculo_tiene" value="<%= it.locations.tooltip_vehiculo_tiene %>">
            <input type="hidden" name="tooltip_kilometraje" value="<%= it.locations.tooltip_kilometraje %>">
            <input type="hidden" name="alt_kilometraje" value="<%= it.locations.alt_kilometraje %>">
            <input type="hidden" name="kilometraje" value="<%= it.locations.kilometraje %>">

            <input type="hidden" name="tooltip_cancelaciones" value="<%= it.locations.tooltip_cancelaciones %>">
            <input type="hidden" name="alt_cancelaciones" value="<%= it.locations.alt_cancelaciones %>">
            <input type="hidden" name="cancelaciones" value="<%= it.locations.cancelaciones %>">
            
            <input type="hidden" name="tooltip_modificaciones" value="<%= it.locations.tooltip_modificaciones %>">
            <input type="hidden" name="alt_modificacion" value="<%= it.locations.alt_modificacion %>">
            <input type="hidden" name="modificaciones" value="<%= it.locations.modificaciones %>">
            <input type="hidden" name="porcentaje" value="<%= element.porcentaje %>">

            <div class="car-info-services-2">
                <div class="servicios-kilometraje" data-tooltip="<%=it.locations.tooltip_vehiculo_tiene%> <%=it.locations.tooltip_kilometraje %>" data-tooltip-location="top">
                    <img class="icon-25" src="img/velocimetro.webp" alt="<%=it.locations.alt_kilometraje %>">
                    <div class="icon-kilometro"><%=it.locations.kilometraje %></div>
                </div>
                <div class="servicios-cancelaciones" data-tooltip="<%=it.locations.tooltip_vehiculo_tiene%> <%=it.locations.tooltip_cancelaciones %>" data-tooltip-location="top">
                    <img class="icon-25" src="img/svg/hecho.svg" alt="<%=it.locations.alt_cancelaciones%>">
                    <div class="icon-cancelaciones"><%=it.locations.cancelaciones %></div>
                </div>
                <div class="servicios-modificaciones" data-tooltip="<%=it.locations.tooltip_vehiculo_tiene%> <%=it.locations.tooltip_modificaciones %>" data-tooltip-location="top">
                    <img class="icon-25" src="img/svg/hecho.svg" alt="<%=it.locations.alt_modificacion%>">
                    <div class="icon-modificaciones"><%=it.locations.modificaciones %></div>
                </div>
                

                <% for (let k=0; k < element.suplementosgenericos.length; k++ ) { %>
                    <% if (element.suplementosgenericos[k].valor> 0) { %>
                        <div class="servicios-kilometraje">
                            <img class="icon-25" src="img/svg/hecho.svg" alt="<%=it.locations.alt_icono_hecho %>">
                            <% const localizacion = it.locations[element.suplementosgenericos[k]["tooltip"]] %>
                            <% const tooltipReplaced = localizacion.replace("X", element.suplementosgenericos[k]["valor"] ) %>
                            <div class="icon-kilometro" data-tooltip="<%=tooltipReplaced %>">
                                <%=it.locations[element.suplementosgenericos[k]["titulo"]] %>
                                <input type="hidden" name="tooltip_suplementogenerico_<%=element.suplementosgenericos[k]["titulo"] %>" value="<%=tooltipReplaced %>">
                                <input type="hidden" name="location_suplementogenerico_<%=element.suplementosgenericos[k]["titulo"] %>" value="<%=it.locations[element.suplementosgenericos[k]["titulo"]] %>">
                            </div>
                        </div>
                    <% } else { %>
                        <div class="servicios-kilometraje">
                            <img class="icon-25" src="img/svg/hecho.svg" alt="<%=it.locations.alt_icono_hecho %>">
                            <% const localizacion=it.locations[element.suplementosgenericos[k]["tooltip"]] %>
                            <% const tooltipReplaced=localizacion.replace("X", element.suplementosgenericos[k]["valor"] ) %>
                            <div class="icon-kilometro" data-tooltip="<%=tooltipReplaced %>" >
                                <%=it.locations[element.suplementosgenericos[k]["titulo"]] %>
                                <input type="hidden" name="tooltip_suplementogenerico_<%=element.suplementosgenericos[k]["titulo"] %>" value="<%=tooltipReplaced %>">
                                <input type="hidden" name="location_suplementogenerico_<%=element.suplementosgenericos[k]["titulo"] %>" value="<%=it.locations[element.suplementosgenericos[k]["titulo"]] %>">
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <% let suplementoportipoChofer = 0 %>
                <% for (let k=0; k < element.preciosSuplementoPorTipoChofer["no-oferta"].length; k++ ) { %>
                    <div class="servicios-conductor-novel">
                        <img class="icon-25" src="img/svg/hecho.svg" alt="<%=it.locations.alt_icono_hecho %>">
                        <% const localizacion=it.locations[element.preciosSuplementoPorTipoChofer["no-oferta"][k]["tooltip"]] %>
                        <% const tooltipReplaced=localizacion.replace("X", element.preciosSuplementoPorTipoChofer["no-oferta"][k]["valor"] ) %>
                        <div class="icon-kilometro" data-tooltip="<%=tooltipReplaced %>">
                            <% const localizacionDesc=it.locations[ element.preciosSuplementoPorTipoChofer["no-oferta"][k]["descripcion"]] %>
                            <% const descriptionReplaced=localizacionDesc.replace("X", element.preciosSuplementoPorTipoChofer["no-oferta"][k]["valor"] ) %>
                            <% suplementoportipoChofer = suplementoportipoChofer + (element.preciosSuplementoPorTipoChofer["no-oferta"][k]["valor"] - 0) %>
                            <%= descriptionReplaced %>
                        </div>
                    </div>
                <% } %>
                <input type="hidden" name="suplementoportipoChofer" value="<%= suplementoportipoChofer %>">
                
                <% if (element.preciosSuplementoPorTipoChofer["oferta"].length > 0) { %>
                    <h5 class="title-specials"><%=it.locations.ofertas_especiales %></h5>
                <% } %>
                <% for (let k=0; k < element.preciosSuplementoPorTipoChofer["oferta"].length; k++ ) { %>
                    <div class="servicios-conductor-novel">
                        <img class="icon-25" src="img/svg/hecho.svg" alt="<%=it.locations.alt_icono_hecho %>">
                        <div class="icon-kilometro" data-tooltip="<%=it.locations[element.preciosSuplementoPorTipoChofer["oferta"][k]["tooltip"]] %>">
                            <%=it.locations[ element.preciosSuplementoPorTipoChofer["oferta"][k]["descripcion"]] %>
                            
                        </div>
                    </div>
                <% } %>
            </div>
        </section>

        <!-- Zona derecha -->
        <section class="car-info-prices">
            <% if (element.preciototaldias> 0) { %>
                <input type="hidden" name="preciototaldias" value="<%= element.preciototaldias %>">
                <span class="current-price">
                    <%= element.preciototaldias %> €
                </span>
                <% if (it.diasEntreRecogidaDevolucion > 1) { %>
                    <span class="precio-antiguo">
                        <%= element.preciototalsindescuento %> €
                    </span>
                <% } else { %>
                    <!-- <span class="precio-antiguo ">&nbsp;</span> -->
                <% } %>

            <% } else { %>
                <span class="current-price current-price-consultar"><%=it.locations.consultar_precio %></span>
            <% } %>

            <% if (element.preciototaldias> 0) { %>
                <% if(it.diasEntreRecogidaDevolucion> 1) { %>
                    <span class="description-price" data-tooltip-location="top" data-tooltip="<%=it.locations.alt_precio_total %> <%= it.diasEntreRecogidaDevolucion %> <%=it.locations.dias %>">
                        <%=it.locations.precio_por %> <%= it.diasEntreRecogidaDevolucion %> <%=it.locations.dias %>
                        <input type="hidden" name="tooltip_alt_precio_total" value="<%= it.locations.alt_precio_total %>">
                        <input type="hidden" name="diasEntreRecogidaDevolucion" value="<%= it.diasEntreRecogidaDevolucion %>">
                        <input type="hidden" name="location_dias" value="<%=it.locations.dias %>">
                    </span>
                <% } else { %>
                    <span class="description-price" data-tooltip-location="top" data-tooltip="<%=it.locations.alt_precio_total %> <%= it.diasEntreRecogidaDevolucion %> <%=it.locations.dia %>">
                        <%=it.locations.precio_por %> <%= it.diasEntreRecogidaDevolucion %> <%=it.locations.dia %>
                        <input type="hidden" name="tooltip_alt_precio_total" value="<%= it.locations.alt_precio_total %>">
                        <input type="hidden" name="diasEntreRecogidaDevolucion" value="<%= it.diasEntreRecogidaDevolucion %>">
                        <input type="hidden" name="location_dias" value="<%=it.locations.dias %>">
                    </span>
                <% } %>

                <button type="submit" name="vehiculo"  value="<%= element.vehiculo %>" class="btn btn-xxl btn-success btn-reservar"><%=it.locations.boton_reservar %></button>
            <% } %>

        </section>

        <!-- Zona abajo -->
        <section class="car-info-zones">
            <div id="overlay" class="overlay-transparente modal-invisible">
                <ul class="details-modal ">
                    <li class="details-modal-close">
                        <a class="boton-cerrar-modal" role="button">
                            <img class="cerrar-modal" src="./img/svg/cerrar_modal.svg" alt="boton cerrar modal">
                        </a>
                    </li>
                    <li class="details-modal-title">
                        <h5 class="details-modal-title-text"><%=it.locations.titulo_condiciones_generales %></h5>
                    </li>
                    <li class="subtitulo-contenido-modal"><%=it.locations.requisitos_conductor_plus %></li>
                        <li>
                            <b class="negrita"><%=it.locations.conductor_plus_coche %></b> <%= it.condicionesgenerales["choferPlus232Cars"]["descripcion"] %>
                        </li>
                        <li>
                            <b class="negrita"><%=it.locations.conductor_plus_moto %></b> <%= it.condicionesgenerales["choferPlus252Motos"]["descripcion"] %>
                        </li>
                    <li class="subtitulo-contenido-modal"><%=it.locations.suplemento_conductor_plus_coche %></li>
                        <% for (let entrada of it.condicionesgenerales.choferPlus232Cars.datos ) { %>
                            <li>
                                <% const localizationDesc = it.locations[entrada["descripcion_vehiculo"]]   %>
                                <b class="negrita"><%= localizationDesc %> :</b> <%= entrada["valor"] %> € <%= it.locations.pordia %>
                            </li>
                        <% } %>
                    <li class="subtitulo-contenido-modal"><%=it.locations.suplemento_conductor_plus_moto %></li>
                        <% for (let entrada of it.condicionesgenerales.choferPlus252Motos.datos ) { %>
                            <% const localizationDesc=it.locations[entrada["descripcion_vehiculo"]] %>
                            <li><b class="negrita"><%= localizationDesc %>:</b> <%= entrada["valor"] %> € <%= it.locations.pordia %></li>
                        <% } %>
                    <li class="subtitulo-contenido-modal">
                        <%=it.locations.edad_conductor_joven %>
                    </li>
                        <li>
                            <b class="negrita"><%=it.locations.conductor_joven_coche %></b> <%=it.locations.from_deciocho_a %> <%= it.condicionesgenerales.edad_minima_para_conductor_plus_coche - 1 %> <%=it.locations.anos_final %>
                        </li>
                        <li>
                            <b class="negrita"><%=it.locations.conductor_joven_moto %></b> <%=it.locations.from_deciocho_a %> <%= it.condicionesgenerales.edad_minima_para_conductor_plus_motos - 1 %> <%=it.locations.anos_final %>
                        </li>
                    <li class="subtitulo-contenido-modal">
                        <%=it.locations.suplemento_conductor_joven_coches %>
                    </li>
                        <% for (let entrada of it.condicionesgenerales.choferPlusNovelCars.datos ) { %>
                            <li>
                                <% const localizationDesc=it.locations[entrada["descripcion_vehiculo"]] %>
                                <b class="negrita"><%= localizationDesc %>:</b> <%= entrada["valor"] %> € <%= it.locations.pordia %>
                            </li>
                        <% } %>
                    <li class="subtitulo-contenido-modal">
                        <%=it.locations.suplemento_conductor_joven_motos %>
                    </li>
                        <% for (let entrada of it.condicionesgenerales.choferPlusNovelMotos.datos ) { %>
                            <% const localizationDesc=it.locations[entrada["descripcion_vehiculo"]] %>
                            <li><b class="negrita"><%= localizationDesc %>:</b> <%= entrada["valor"] %> € <%= it.locations.pordia %></li>
                        <% } %>
                    <li class="subtitulo-contenido-modal"><%=it.locations.permiso_conducir_internacional %></li>
                        <li><%=it.locations.permiso_conducir_internacional_descripcion %></li>
                    <li class="subtitulo-contenido-modal"><%=it.locations.conductor_adicional %></li>
                        <li><%=it.locations.conductor_adicional_descripcion %></li>
                    <li class="subtitulo-contenido-modal"><%= it.locations.pago_condiciones %></li>
                        <li><%=it.locations.pago_condiciones_descripcion %></li>
                    <li class="subtitulo-contenido-modal"><%=it.locations.seguro_condiciones %></li>
                        <li><%= it.locations.seguro_precio_coches_condiciones %></li>
                        <li><%= it.locations.seguro_precio_motos_condiciones %></li>
                    <li class="subtitulo-contenido-modal"><%=it.locations.noche_fuera_condiciones %></li>
                        <li><b class="negrita"><%=it.locations.coches_condiciones %></b> <%= it.suplementogenerico_base["nocheCar"]["valor"] %> € <%=it.locations.pordia%></li>
                        <li><b class="negrita"><%=it.locations.motos_condiciones %></b> <%= it.suplementogenerico_base["nocheMoto"]["valor"] %> € <%=it.locations.pordia%></li>
                    <li class="subtitulo-contenido-modal"><%=it.locations.fuera_tiempo_entrega %></li>
                        <li><b class="negrita"><%=it.locations.coches_condiciones %></b> <%= it.suplementogenerico_base["outTimeCar"]["valor"] %> € <%=it.locations.pordia%></li>
                        <li><b class="negrita"><%=it.locations.motos_condiciones %></b> <%= it.suplementogenerico_base["outTimeMoto"]["valor"] %> € <%=it.locations.pordia%></li>
                </ul>
            </div>

        </section>
    </article>
</form>