<!DOCTYPE html>
<html lang="<%=it.locations.idioma_web %>">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reservar2</title>
        <link rel="stylesheet" href="./css/reservar2.css"/>
    </head>
    <body>

        <div class="layout">
            <div class="blockBanner">
                <div class="banner">
                    <!------- Inicio Cabecera ---->
                    <%~ includeFile("header.html", it) %>
                    <!------- Fin Cabecera ---->
            
                    <!------- Inicio Slogan  --------->
                    <!-- <section id="eslogan">
                        Conozca Mallorca...
                    </section> -->
                    <!------- Fin Slogan  ------------>
                </div>
                
            </div>

            <!-----------------  Inicio Sidebar1  ------------------------------------------>
            <div class="sidebar1">
                <!-- <p>Segunda caja</p> -->
                <section id="contentAside">
                    <aside id="aside">
                        <div class="boxAside">
                            <div class="contentBoxAside">
                                <section class="rentacar-info">
                                    <img class="car-image" src="./img/Img-Vehiculos/rescambiada/png/<%=it.formdata.imagen_vehiculo %>" alt="<%=it.formdata.descripcion_vehiculo %>">
                                    <h2 class="car-name">
                                        </p><%=it.formdata.descripcion_vehiculo %></p>
                                    </h2>
                                    <p class="similar"><%= it.locations.osimilar %></p>
                                    <div class="car-info-services">

                                        <div class="servicios-asientos" data-tooltip="<%=it.locations.tooltip_vehiculo_asientos1%> <%= it.formdata.pax_vehiculo %> <%=it.locations.tooltip_vehiculo_asientos2%>" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/person-fill.svg" alt="<%=it.locations.alt_persona%>">
                                            <div class="icon-number">
                                                <%= it.formdata.pax_vehiculo %>
                                            </div>
                                        </div>
                                        <% const puertas_vehiculo = it.formdata.puertas_vehiculo - 0 %>
                                        <% if (puertas_vehiculo > 0) { %>
                                        <div class="servicios-puertas" data-tooltip="<%=it.formdata.tooltip_vehiculo_tiene %> <%= it.formdata.puertas_vehiculo %> <%=it.locations.tooltip_vehiculo_puertas%>" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/puerta.svg" alt="<%=it.locations.alt_puerta%>">
                                            <div class="icon-number">
                                                <%= it.formdata.puertas_vehiculo %>
                                            </div>
                                        </div>
                                        <% } %>

                                        <% const aireacondicionado = it.formdata.aireacondicionado - 0 %>
                                        <% if (aireacondicionado === 1) { %>
                                        <div class="servicios-aire" data-tooltip="<%=it.formdata.tooltip_vehiculo_tiene %> <%=it.locations.tooltip_aire_acondicionado%>" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/aire.svg" alt="<%=it.locations.alt_aire%>">
                                        </div>
                                        <% } %>
                                        
                                        <div class="servicios-trasmision" data-tooltip="<%=it.formdata.tooltip_vehiculo_tiene %> <%=it.formdata.tooltip_cambio %>" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/cambio_manual.svg" alt="<%=it.formdata.alt_cambio %>">
                                            <div class="icon-number"><%=it.formdata.transmision_vehiculo %></div>
                                        </div>
                                    </div>
                                    <div class="car-info-services-2">
                                        <div class="servicios-kilometraje" data-tooltip="<%=it.formdata.tooltip_vehiculo_tiene %> <%=it.formdata.tooltip_kilometraje %> " data-tooltip-location="top">
                                            <img class="icon-25" src="img/svg/velocimetro.png" alt="<%=it.formdata.kilometraje %>">
                                            <p class="icon-kilometro"><%=it.formdata.kilometraje %></p>
                                        </div>
        
                                        <div class="geoLoc">
                                            <img class="icon-25" src="img/svg/mapaMundi.svg" alt="icono completado">
                                            <p class="icon-locate">Mallorca | Can Pastilla  España</p>
                                        </div>      
                                    </div>
        
                                    <div class="bookRecogida">
                                        <img src="./img/img-Calendar/calendar.jpg" alt="Icono calendario" class="icon-25">
                                        <!-- <p class="icon-dateRecogida">Dom 9 Mayo</p> -->
                                        <p class="icon-dateRecogida"><%= it.formdata.fechaRecogida %></p>
        
                                        <img src="./img/Img-Clock/clock.png" alt="Icono calendario" class="icon-25">
                                        <!-- <p class="icon-clockRecogida">09:00</p> -->
                                        <p class="icon-clockRecogida"><%= it.formdata.horaRecogida %></p>
                                    </div>
        
                                    <div class="puntos">
                                        <img src="./img/svg/flecha.svg" alt="">
                                    </div>
        
                                    <div class="bookDevolucion">
                                        <img src="./img/img-Calendar/calendar.jpg" alt="Icono calendario" class="icon-25">
                                        <!-- <p class="icon-dateDevolucion">Lun 10 Mayo</p> -->
                                        <p class="icon-dateDevolucion"><%= it.formdata.fechaDevolucion %></p>
                                        
        
                                        <img src="./img/Img-Clock/clock.png" alt="Icono calendario" class="icon-25">
                                        <!-- <p class="icon-clockDevolucion">20:00</p> -->
                                        <p class="icon-clockDevolucion"><%= it.formdata.horaDevolucion %></p>
                                        
                                    </div>
                                </section>
                            </div>
                        </div>
                    </aside>
                    
                    <!-- <aside id="aside">
                        <div class="boxAside">
                            <div class="contentBoxAside">
                                <img id="imgCarReserva" src="" alt="">
                                <p>Segundo SIDEBAR</p>
                            </div>
                        </div>
                    </aside>    -->
                </section>
            </div>
            <!-----------------  Fin Sidebar1  ------------------------------------------>

            <div class="blue">
                <p>Tercera caja</p>
            </div>

            <!--------------- Inicio Datos Reserva  --------------------->
            <div class="contentReserva">
                <section class="contentBlock">
                    <div class="tituloReserva">
                        <!-- <img id="icon-Mundi" src="./img/svg/mapaMundi.svg" alt="icono reserva">
                        <h3>
                            Datos de la Reserva
                        </h3> -->
                        
                        <h2><img id="icon-Mundi" src="./img/svg/mapaMundi.svg" alt="icono reserva"></img>Datos de la Reserva</h2>
                    </div>
                    <div class="infoReserva">
                        <!-- Inicio Datos Fijos de la reserva -->
                        <div class="titDiasReserva">
                            <%=it.locations.dias_titulo %>
                        </div>
                        <div class="diasReserva">
                            <!-- 2 días(Mier 8 Sept  Vie 10 sep) -->
                            <% const dias = it.formdata.diasEntreRecogidaDevolucion - 0 %>
                            <% if (dias > 1) { %>
                                <%=it.formdata.diasEntreRecogidaDevolucion %> <%= it.locations.dias %> (<%=it.formdata.fechaRecogida %> <%=it.formdata.fechaDevolucion %>)
                            <% } else { %>
                                <%=it.formdata.diasEntreRecogidaDevolucion %> <%= it.locations.dia %> (<%=it.formdata.fechaRecogida %> <%=it.formdata.fechaDevolucion %>)
                            <% } %>
                        </div>
        
                        <div class="titValorReserva">
                            <%=it.locations.alquiler_titulo %>
                        </div>
                        <div class="valorReserva">
                            <%=it.formdata.preciototaldias %> €
                        </div>
        
                        <div class="titSeguro">
                            Seguro
                        </div>
                        <div class="valorseguro">
                            El precio incluye seguro a todo riesgo
                        </div>
                        <!-- Fin Datos Fijos de la reserva -->
        
                        <!--- Inicio Cargos de la reserva --->
                        <% if (it.formdata.conductor_con_experiencia === "on") { %>
                            <div class="titConductor">
                                <%=it.locations.conductor_joven_titulo %>
                            </div>
                            <div class="valorConductor">
                            0 €
                            </div>
                        <% } else { %>
                            <div class="titConductor">
                                <%=it.locations.conductor_joven_titulo %>
                            </div>
                            <div class="valorConductor">
                                <%=it.formdata.suplementotipoChofer %> €
                            </div>
                        <% } %>
                        <div class="titTotReserva">
                            <%=it.locations.total_titulo %>
                        </div>
                        <div class="valorTotReserva">
                            <% if (it.formdata.suplementotipoChofer !== undefined) { %>
                                <%let subtotal = (it.formdata.preciototaldias - 0) + (it.formdata.suplementotipoChofer - 0) %>
                                <%= subtotal %> €
                            <% } else { %>
                                <%= it.formdata.preciototaldias %> €
                            <% } %>
                        </div>
        
                        <div class="titValorRecogida">
                            <%= it.locations.pago_recogida_titulo %>
                        </div>
                        <div class="ValorRecogida">
                            20.0 €
                        </div>
        
                        <div class="titValorOnline">
                            <%= it.locations.pago_online_titulo %>
                        </div>
                        <div class="ValorOnline">
                            <%=it.formdata.preciototaldias %> €
                        </div>
                        <!--- Fin Cargos de la reserva --->
                    </div>
                </section>
            </div>
            <!----------------------- Fin Datos Reserva  ---------------------------->

            <!-----------------  Inicio Beneficios ------------------------------------------>
            <div class="beneficios">
                <div class="includPrice-container">
                    <span class="tit-includPrice-container">Incluido en el Precio:
                        <ul class="includPrice-contenido">

                            <li class="tooltipBlanco" title="Oferta al mejor precio garantizado">
                            <img src="./img/svg/hechoSmall.svg" alt="Icono hecho pequeño">Seguro todo riesgo

                            </li>
                            <li class="tooltipBlanco" title="La oferta incluye sillas y elevadores homologados CE">
                                <img src="./img/svg/hechoSmall.svg" alt="Icono hecho pequeño">Sillas y Elevadores de niños
                            </li>
                            <li class="tooltipBlanco" title="Además la oferta incluye la posibilidad de cancelar la reserva 24 Horas antes de la recogida">
                                <img src="./img/svg/hechoSmall.svg" alt="Icono hecho pequeño">Cancelación gratuita
                            </li>
                            <li class="tooltipBlanco" title="la oferta incluye los impuestos locales">
                                <img src="./img/svg/hechoSmall.svg" alt="Icono hecho pequeño">Impuestos locales
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <!-----------------  Fin  Beneficios ------------------------------------------>

            <!-----------------  Inicio sillas y elevadores para niños  ------------------->
            <div class="sillasBox">
                <section class="sillasContent">
                    <h2><i class="icoSillas"></i>Asientos niños</h2>
                    <div class="collapse in">
                        <div class="datBox">
                            <div class="form-group">
                                <ul class="dataExtras">
                                    <li class="extraLine">
                                        <img src="./img/img-childSeat/img-childSeat.svg" alt="">
                                        <select name="" id="child_seat" class="safariSelect">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <a class="infoIco" align="justify" data-toggle="tooltip" title data-original-title="<strong>Asientos niños</strong>"
                                            <strong>info</strong>
                                        </a>
                                        <div class="details">
                                            <label>Asientos niños</label>
                                            <p>
                                                Los asientos de niños, son para niños de 1 a 3 años
                                                <span class="text-nowrap">(con un peso entre 9-18kg).</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-----------------  Fin sillas y elevadores para niños  ------------------->

            <div class="yellow">
                <p>Septima caja</p>
            </div>
        </div>

    </body>
</html>
