<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="css/reservar.css" />

</head>
    <body>
        <!----------------------------   Inicio cabecera  -------------------------->
        <div class="header">
            <div class="container">
                    <!-- <%~ includeFile("parciallogo.html") %> -->
                <!-- ********************* -->
                <a href="/">
                        <!-- <img src="./img/Img-Logo/logoRentCarInnerBlue.svg"> -->
                        <!-- <img src="./img/Img-Logo/logoRentCarInnerWhite.svg"> -->
                    <img src="./img/Img-Logo/logoRentCarSimpleBlue.svg">
                </a>

                <!-- ********************* -->
                <!-- <a href="./inicio.html" class="logo">
                        <img src="./img/Img-Logo/logoRentCarSimpleBlue.svg" alt="">
                </a> -->

                <!-- ********************* -->
                <div class="contacto">
                    <img src="./img/svg/contacto.svg"/>
                </div>
            </div>
        </div>
        <!----------------   Fin cabecera  ---------------------->

        <!----------------   Inicio Contenido ------------------->
        <div class="content">
            <div class="espacio"></div>
            <div class="blockContainer">
                <form action="">
                    <!------------------- Inicio Bloque Sidebar ------------------------------>
                    <div class="sidebarBlock">
                        <div class="dataContentBox">
                            <div class="databox">
                                <img class="imgDatabox" src="/public/img/Img-Vehiculos/rescambiada/png/Peugeot_108.png" alt="">
                                <h3 class="carName">
                                    Peugeot 108 4 puertas A/C  
                                </h3>
                                <small>o similar</small>                                    
                                <!--------- Inicio barra de servicios del Vehículo ----------->
                                <!-- ****************************************************** -->
                                <!-- ***** La comentada es con template ******************* -->
                                <!-- ****************************************************** -->
                                    <!-- <div class="car-info-services">
                                        <div class="servicios-asientos" data-tooltip="vehiculo tiene <%= element.pax %> asientos" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/person-fill.svg" alt="persona">
                                            <div class="icon-number">
                                                <%= element.pax %>
                                            </div>
                                        </div>
        
                                        <% if (element.puertas> 0) { %>
                                            <div class="servicios-puertas" data-tooltip="vehiculo tiene <%= element.puertas %> puertas" data-tooltip-location="top">
                                                <img class="icon-24" src="img/svg/puerta.svg" alt="puertas">
                                                <div class="icon-number">
                                                    <%= element.puertas %>
                                                </div>
                                            </div>
                                        <% } %>
                                        <% if (element.aireacondicionado===1) { %>
                                            <div class="servicios-aire" data-tooltip="vehiculo tiene aire acondicionado" data-tooltip-location="top">
                                                <img class="icon-24" src="img/svg/aire.svg" alt="aire">
                                            </div>
                                        <% } %>
        
                                        <% if  (element.transmision === "M" ) { %>
                                            <div class="servicios-trasmision" data-tooltip="vehiculo tiene cambio manual" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/cambio_manual.svg" alt="cambio manual">
                                            <div class="icon-number">M</div>
                                        <% } else if (element.transmision === "A" ) { %>
                                            <div class="servicios-trasmision" data-tooltip="vehiculo tiene cambio automatico" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/cambio_automatico.svg" alt="cambio automatico">
                                            <div class="icon-number">A</div>
                                        <% } %>
                                        </div>
                                    </div> -->
                                    <!-- ****************************************************** -->
                                <div class="car-info-services">
                                    <div class="servicios-asientos" >
                                        <img class="icon-24" src="img/svg/person-fill.svg" alt="persona">
                                        <div class="icon-number">4</div>
                                    </div>
        
                                    <div class="servicios-puertas">
                                        <img class="icon-24" src="img/svg/puerta.svg" alt="puertas">
                                        <div class="icon-number">4</div>
                                    </div>
                                            
                                    <div class="servicios-aire" >
                                        <img class="icon-24" src="img/svg/aire.svg" alt="aire">
                                    </div>
        
                                    <div class="servicios-trasmision">
                                        <img class="icon-24" src="img/svg/cambio_manual.svg" alt="cambio manual">
                                        <div class="icon-number">M</div>
                                    </div>
                                </div>
                                <!--------- Fin barra de servicios del Vehículo ----------->

                                <div class="car-info-services2">
                                    <div class="servicios-kilometraje">
                                        <img class="icon-25" src="img/svg/velocimetro.png" alt="kilometraje">
                                        <p class="icon-kilometro">Kilometraje ilimitado</p>
                                    </div>
        
                                    <div class="recogida">
                                        <h3>Recogida</h3>
                                        <a href="">Cambiar</a>
                                    </div>
        
                                    <div class="location">
                                        <img class="imgLocation" src="./img/svg/mapaMundi.svg" alt="">
                                        <div class="locationText">
                                            <h5>Mallorca - Can Pastilla - España</h5>
                                        </div>
                                    </div>

                                    <div class="dateRecogida">
                                        <img class="imgDateRecogida" src="./img/img-Calendar/calendar.jpg" alt="">
                                        <div class="textDateRecogida" id="textDateRecogida" >
                                            <h5>Dom 15 Sept</h5>
                                        </div>

                                        <img class="imgClockRecogida" src="./img/Img-Clock/clock.png" alt="">
                                        <div class="textClockRecogida" id="textDateRecogida" >
                                            <h5>09:00</h5>
                                        </div>
                                    </div>

                                    <div class="flechas">
                                        <img src="/public/img/svg/flechaDown.svg" alt="">
                                        <p>3 días</p>
                                    </div>
                                    
                                    <div class="dateDevolucion">
                                        <img class="imgDateDevolucion" src="./img/img-Calendar/calendar.jpg" alt="">
                                        <div class="textDateDevolucion" id="textDateDevolucion" >
                                            <h5>Mar 18 Sept</h5>
                                        </div>

                                        <img class="imgClockDevolucion" src="./img/Img-Clock/clock.png" alt="">
                                        <div class="textClockDevolucion" id="textDateDevolucion" >
                                            <h5>20:00</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------------------------ Fin Bloque Sidebar ------------------------------>

                    <!--------------------- Inicio Bloque de Contenido ------------------------->
                    <div class="contentBlock">
                        <div class="dataContentBox">                        
                            <h2><img src="./img/svg/hechoSmall.svg" alt="">Datos de la Reserva</h2>
                            <div class="dataBox">
                                <!-- ::before -->
                                <!------------------------- Inicio  1  ------------------------------>
                                <div class="row">
                                    <!-- ::before -->
                                    <div id="bookingDetails" class="bookingDetails-1">
                                        <!-- ::before -->
                                        <!-- <div class="data"> -->
                                            <!-- ::before -->
                                            <div class="col-1">
                                                <strong>Días</strong>
                                            </div>
                                            <div class="col-2">
                                                3 días (Dom 15 Sep - Mar 18 Sep)
                                            </div>
                                        <!-- </div> -->

                                        <!-- <div class="data"> -->
                                            <div class="col-3">
                                                <strong>Alquiler</strong>
                                            </div>
                                            <div class="col-4">80.0 €</div>
                                        <!-- </div> -->
                                            <div class="col-5">
                                                <strong>Seguro</strong>
                                            </div>
                                            <div class="col-6">
                                                <strong>Todo Riesgo incluido en el precio de reserva</strong>
                                            </div>
                                    </div>

                                    <!------------- Inicio Cargos por suplementos ----------->
                                    <div id="localServiceCharges" class="localServiceCharges">
                                        <div class="col-1-lsc">
                                            <strong>Conductor Joven</strong>
                                        </div>
                                        <div class="col-2-lsc">
                                            <strong>Gratis</strong>
                                        </div>
                                    </div>

                                    <!------------- Fin Cargos por suplementos ----------->

                                    <!---------------- Inicio Total Precio --------------->
                                    <div id="totalReserva" class="totalReserva">
                                        <div id="idTotalReserva" class="col-1-TotReserva">
                                            <strong>Total</strong>
                                        </div>

                                        <div id="idTotReserva" class="col-2-TotReserva">
                                            <strong id="valorTotReserva">80.0 €</strong>
                                        </div>

                                        <div class="col-1-pagoDestino">
                                            <strong>Pago en Destino</strong>
                                        </div>

                                        <div id="valorPagoDestino" class="col-2-pagoDestino">
                                            <strong>50.0 €</strong>
                                        </div>
                                    </div>

                                    <!---------------- Fin Total Precio --------------->

                                    <!---------------- Inicio Pague Online --------------->
                                    <div id="PagoOnline" class="clearfix pagoOnline">
                                        <div class="col-1-PagoOnline">
                                            <strong class="marked">
                                                <big>Pague Online Ahora</big>
                                            </strong>
                                        </div>
                                        <div id="idPagoOnlineclass" class="col-2-PagoOnline">
                                            <strong class="marked">
                                                <big>30.0 €</big>
                                            </strong>
                                        </div>
                                    </div>
                                    <!---------------- Fin Pague Online --------------->
                                </div>
                                <!------------------------- Fin  1  ------------------------------>
                            </div>
                        </div>

                        <div class="espacio"></div>

                        <div class="benefits-Container">
                            <span class="benefits-Titulo">Incluido en el Precio:</span>
                            <div class="interest">
                                <div class="tooltipBenefits">
                                    <img src="./img/svg/hechoSmall.svg" alt="">
                                    Cancelaciones Gratis
                                </div>
                                <div class="tooltipBenefits">
                                    <img src="./img/svg/hechoSmall.svg" alt="">
                                    Modificaciones Gratis
                                </div>
                                <div class="tooltipBenefits">
                                    <img src="./img/svg/hechoSmall.svg" alt="">
                                    Sillas y Elevadores de niños Gratis
                                </div>
                            </div>
                        </div>

                        <div class="espacio"></div>

                        <div id="extrasForm" class="dataContentBox full-content">
                            <h2 data-toggle="collapse" href="#extraSelector" class aria-expanded="true">
                                <i class="ico-extra">

                                </i>
                                Asientos niños
                            </h2>
                            <div id="extraSelector" class="collapse" aria-expanded="false">
                                <div class="dataBox">
                                    <div class="form-group">
                                        <ul class="dataExtras">
                                            <!----------  Inicio Asientos niños  ----->
                                            <li class="extraLine">
                                              <!-- ::marked -->
                                                <img src="./img/img-childSeat/baby-car-seat.jpeg" alt="asiento niño">
                                                <select id="child_seat" class="safariSelect" name="child_seat">
                                                    <option value="0" selected="">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                                <a class="infoIco" align="justify" data-toggle="tooltip" title="" data-original-title="<strong>Asientos niños</strong> Gratis">
                                                    <strong>info</strong>
                                                </a>
                                                <div class="details">
                                                    <label for="Asientos niños"></label>
                                                    <p>
                                                        Los asientos de niños son para niños de 1 a 3 años
                                                        <span class="text-nowrap">(con un peso entre 9-18Kg).</span>
                                                    </p>
                                                </div>
                                            </li>
                                            <!----------  Fin Asientos niños  ----->

                                            <!----------  Inicio Elevadores  ----->
                                            <li class="extraLine">
                                                <!-- ::marked -->
                                                  <img src="./img/img-childSeat/boosterSeat.jpeg" alt="asiento niño">
                                                  <select id="child_seat" class="safariSelect" name="child_seat">
                                                      <option value="0" selected="">0</option>
                                                      <option value="1">1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                  </select>
                                                  <a class="infoIco" align="justify" data-toggle="tooltip" title="" data-original-title="<strong>Elevadores</strong> Gratis">
                                                      <strong>info</strong>
                                                  </a>
                                                  <div class="details">
                                                      <label for="Asientos niños"></label>
                                                      <p>
                                                          Los elevadores son recomendados para niños de 4-11 años
                                                          <span class="text-nowrap">(con un peso entre 18-45Kg).</span>
                                                      </p>
                                                  </div>
                                              </li>
                                            <!----------  Fin Elevadores  ----->
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="espacio"></div>

                        <div id="driverInfoForm" class="dataContentBox full-content" data-info-form="* Campos requeridos">
                            <!-- ::before  -->
                            <h2>
                                <i class="ico ico-user"></i>
                                Datos Conductor Principal
                            </h2>
                            <div class="databox">
                                <!-----------   Inicio Título ------>
                                <div class="driverInfoForm">
                                    <P for="titulo">
                                        <!-- ::before -->
                                        Título
                                        <!-- ::after -->
                                    </P>
                                    <div class="radio-in-line">
                                        <label for="Sr">
                                            <input type="checkbox" id="Sr" value="Sr" name="titulo">
                                            Sr
                                            </input>
                                        </label>
                                        <label for="Sra">
                                            <input type="radio" id="Sra" value="Sra" name="titulo">
                                            Sra
                                            </input>
                                        </label>
                                    </div>
                                </div>
                                <!-----------   Fin Título ------>

                                <div class="form-group required valide">
                                    <label for="nombre">
                                        Nombre
                                    </label>
                                    <input id="nombre" type="text" name="nombre" size="65" value="" maxlength="50" placeholder="Nombre">
                                </div>

                                <div class="form-group required valide">
                                    <label for="apellidos">
                                        Apellidos
                                    </label>
                                    <input id="apellidos" type="text" name="apellidos" size="65" value="" maxlength="50" placeholder="Apellidos">
                                </div>

                                <div class="form-group required valide" info-error="Debe introducir un email en el formulario">
                                    <label for="email">
                                        E-mail
                                    </label>
                                    <input id="email" type="text" name="email" size="65" value="" onchange="" maxlength="50" placeholder="A este E-mail enviaremos su confirmación">
                                </div>
                                <div class="info-fieldcontainer">
                                    <div class="info-fieldcontain">
                                        Aqui es donde le enviaremos la confirmación de la reserva con toda la información para recoger tu coche
                                    </div>
                                </div>
                                <style>
                                    .info-fieldcontainer{margin-left:calc(31% + 4px);width: 40%;margin-bottom: 10px;}.info-fieldcontainer{background-color: green;background-image: url(./img/svg/velocimetro.png);background-repeat: no-repeat;background-position: 12px 12px;background-size: 18px;font-size: 13px;color: blue;position: relative;top: -5px;box-shadow: 0 0 0 1px rgb(134, 238, 134);border-radius: .15rem;padding: 8px;padding-left: 40px;}.info-fieldcontainer::before{content:"";border-bottom: 10px solid greenyellow;border-left: 10px solid transparent;border-right: 10px solid transparent;position: absolute;top: -10px;left: 15px;filter:drop-shadow(0 -1px 0 green);}.ok-val .info-fieldcontainer{display:none}.ok-val+.info-fieldcontainer{width: 45%;margin-bottom: 5px;}
                                </style>

                                <div id="suggestions"></div>
                                <div class="form-group required">
                                    <label for="telefono">
                                        <!-- ::before -->
                                        Teléfono
                                        <!-- ::after -->
                                    </label>
                                    <input id="telefono" type="text" name="telefono" size="65" value="" maxlength="18" placeholder="Para poder contactar cuando sea necesario">
                                <div>                                
                                <div id="idTermsBox" class="form-group form-info-group valide">
                                    <span class="label">&nbsp;</span>
                                    <p class="chkDescription">
                                        <input id="okTermsConditions"  type="checkbox" name="okTermsConditions" value="SI" onclick>

                                        <label id="labelOkTermsConditions" for="okTermsConditions">He leído y acepto
                                            <a id="labelokTermsConditionsTC" class="general_link iframe cboxElement" href="" onclick="">
                                                Términos y condiciones
                                            </a>
                                            y
                                            <a href="" id="labelokTermsConditionsPP" class="iframe cboxElement" onclick="">
                                                política de privacidad
                                            </a>
                                        </label>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="espacio"></div>
                        <div class="espacio-xxl"></div>
                        <div class="espacio-xxl"></div>
                        <div class="espacio-xxl"></div>

                        <div class="container-fluid footer footer3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-33">
                                        <p>
                                            Todas las marcas registradas y los derechos de autor son propiedad de RentCarMallorca.com
                                        </p>
                                        <p>
                                            RentCarMallorca bla bla bla
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--------------------- Fin Bloque de Contenido ------------------------->
                </form>

            </div>
        </div>  
        <!----------------   Fin Contenido    ------------------->

    </body>
</html>

<!--------------------------- Scripts ---------------------------->

<!---------------------------------------------------------------->
<script src="./js/reservar.js"></script>
<!---------------------------------------------------------------->