<!DOCTYPE html>
<html lang="<%=it.locations.idioma_web %>">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= it.locations.reservar_titulopagina %></title>
        <link rel="stylesheet" href="./css/reservar2.css"/>
    </head>
    <body>

        <div class="layout">
            <div class="blockBanner">
                <div class="banner">
                    <!------- Inicio Cabecera ---->
                    <%~ includeFile("header.html", it) %>
                    <!------- Fin Cabecera ---->
            
                    <!------- Inicio Slogan  --------->
                    <!-- <section id="eslogan">
                        Conozca Mallorca...
                    </section> -->
                    <!------- Fin Slogan  ------------>
                </div>
                
            </div>

            <!-----------------  Inicio Sidebar1  ------------------------------------------>
            <div class="sidebar1">
                <!-- <p>Segunda caja</p> -->
                <section id="contentAside">
                    <aside id="aside">
                        <div class="boxAside">
                            <div class="contentBoxAside">
                                <section class="rentacar-info">
                                    <img class="car-image" src="./img/Img-Vehiculos/rescambiada/png/<%=it.formdata.imagen_vehiculo %>" alt="<%=it.formdata.descripcion_vehiculo %>">
                                    <h2 class="car-name">
                                        </p><%=it.formdata.descripcion_vehiculo %></p>
                                    </h2>
                                    <p class="similar"><%= it.locations.osimilar %></p>
                                    <div class="car-info-services">

                                        <div class="servicios-asientos" data-tooltip="<%=it.locations.tooltip_vehiculo_asientos1%> <%= it.formdata.pax_vehiculo %> <%=it.locations.tooltip_vehiculo_asientos2%>" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/person-fill.svg" alt="<%=it.locations.alt_persona%>">
                                            <div class="icon-number">
                                                <%= it.formdata.pax_vehiculo %>
                                            </div>
                                        </div>
                                        <% const puertas_vehiculo = it.formdata.puertas_vehiculo - 0 %>
                                        <% if (puertas_vehiculo > 0) { %>
                                        <div class="servicios-puertas" data-tooltip="<%=it.formdata.tooltip_vehiculo_tiene %> <%= it.formdata.puertas_vehiculo %> <%=it.locations.tooltip_vehiculo_puertas%>" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/puerta.svg" alt="<%=it.locations.alt_puerta%>">
                                            <div class="icon-number">
                                                <%= it.formdata.puertas_vehiculo %>
                                            </div>
                                        </div>
                                        <% } %>

                                        <% const aireacondicionado = it.formdata.aireacondicionado - 0 %>
                                        <% if (aireacondicionado === 1) { %>
                                        <div class="servicios-aire" data-tooltip="<%=it.formdata.tooltip_vehiculo_tiene %> <%=it.locations.tooltip_aire_acondicionado%>" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/aire.svg" alt="<%=it.locations.alt_aire%>">
                                        </div>
                                        <% } %>
                                        
                                        <div class="servicios-trasmision" data-tooltip="<%=it.formdata.tooltip_vehiculo_tiene %> <%=it.formdata.tooltip_cambio %>" data-tooltip-location="top">
                                            <img class="icon-24" src="img/svg/cambio_manual.svg" alt="<%=it.formdata.alt_cambio %>">
                                            <div class="icon-number"><%=it.formdata.transmision_vehiculo %></div>
                                        </div>
                                    </div>
                                    <div class="car-info-services-2">
                                        <div class="servicios-kilometraje" data-tooltip="<%=it.formdata.tooltip_vehiculo_tiene %> <%=it.formdata.tooltip_kilometraje %> " data-tooltip-location="top">
                                            <img class="icon-25" src="img/svg/velocimetro.png" alt="<%=it.formdata.kilometraje %>">
                                            <p class="icon-kilometro"><%=it.formdata.kilometraje %></p>
                                        </div>
        
                                        <div class="geoLoc">
                                            <img class="icon-25" src="img/svg/mapaMundi.svg" alt="icono completado">
                                            <p class="icon-locate">Mallorca | Can Pastilla  España</p>
                                        </div>      
                                    </div>
        
                                    <div class="bookRecogida">
                                        <img src="./img/img-Calendar/calendar.jpg" alt="Icono calendario" class="icon-25">
                                        <!-- <p class="icon-dateRecogida">Dom 9 Mayo</p> -->
                                        <p class="icon-dateRecogida"><%= it.formdata.fechaRecogida %></p>
        
                                        <img src="./img/Img-Clock/clock.png" alt="Icono calendario" class="icon-25">
                                        <!-- <p class="icon-clockRecogida">09:00</p> -->
                                        <p class="icon-clockRecogida"><%= it.formdata.horaRecogida %></p>
                                    </div>
        
                                    <div class="puntos">
                                        <img src="./img/svg/flecha.svg" alt="">
                                    </div>
        
                                    <div class="bookDevolucion">
                                        <img src="./img/img-Calendar/calendar.jpg" alt="Icono calendario" class="icon-25">
                                        <!-- <p class="icon-dateDevolucion">Lun 10 Mayo</p> -->
                                        <p class="icon-dateDevolucion"><%= it.formdata.fechaDevolucion %></p>
                                        
        
                                        <img src="./img/Img-Clock/clock.png" alt="Icono calendario" class="icon-25">
                                        <!-- <p class="icon-clockDevolucion">20:00</p> -->
                                        <p class="icon-clockDevolucion"><%= it.formdata.horaDevolucion %></p>
                                        
                                    </div>
                                </section>
                            </div>
                        </div>
                    </aside>
                    
                    <!-- <aside id="aside">
                        <div class="boxAside">
                            <div class="contentBoxAside">
                                <img id="imgCarReserva" src="" alt="">
                                <p>Segundo SIDEBAR</p>
                            </div>
                        </div>
                    </aside>    -->
                </section>
            </div>
            <!-----------------  Fin Sidebar1  ------------------------------------------>

            <div class="blue">
                <p>Tercera caja</p>
            </div>

            <!--------------- Inicio Datos Reserva  --------------------->
            <div class="contentReserva">
                <section class="contentBlock">
                    <div class="tituloReserva">
                        <!-- <img id="icon-Mundi" src="./img/svg/mapaMundi.svg" alt="icono reserva">
                        <h3>
                            Datos de la Reserva
                        </h3> -->
                        
                        <h2>
                            <img id="icon-Mundi" src="./img/svg/mapaMundi.svg" alt="<%=it.locations.icono_reserva %>"></img>
                            <%=it.locations.datos_reserva %>
                        </h2>
                    </div>
                    <div class="infoReserva">
                        <!-- Inicio Datos Fijos de la reserva -->
                        <div class="titDiasReserva">
                            <%=it.locations.dias_titulo %>
                        </div>
                        <div class="diasReserva">
                            <% const dias = it.formdata.diasEntreRecogidaDevolucion - 0 %>
                            <% if (dias > 1) { %>
                                <%=it.formdata.diasEntreRecogidaDevolucion %> <%= it.locations.dias %> (<%=it.formdata.fechaRecogida %> <%=it.formdata.fechaDevolucion %>)
                            <% } else { %>
                                <%=it.formdata.diasEntreRecogidaDevolucion %> <%= it.locations.dia %> (<%=it.formdata.fechaRecogida %> <%=it.formdata.fechaDevolucion %>)
                            <% } %>
                        </div>
        
                        <div class="titValorReserva">
                            <%=it.locations.alquiler_titulo %>
                        </div>
                        <div class="valorReserva">
                            <%=it.formdata.preciototaldias %> €
                        </div>
        
                        <div class="titSeguro">
                            <%=it.locations.seguro_titulo %>
                        </div>
                        <div class="valorseguro">
                            <%=it.locations.seguro_descripcion %>
                        </div>
                        <!-- Fin Datos Fijos de la reserva -->
        
                        <!--- Inicio Cargos de la reserva --->
                        <%let mult = 0 %>
                        <%let subtotal = 0 %>
                        <% if (it.formdata.conductor_con_experiencia === "on") { %>
                            <div class="titConductor">
                                <%=it.locations.conductor_joven_titulo %>
                            </div>
                            <div class="valorConductor">
                            0 €
                            </div>
                        <% } else { %>
                            <div class="titConductor">
                                <%=it.locations.conductor_joven_titulo %>
                            </div>
                            <div class="valorConductor">
                                <% if (dias> 1) { %>
                                    <% mult = dias * (it.formdata.suplementoportipoChofer - 0 ) %>
                                    <%= dias %> <%=it.locations.dias %> x <%=it.formdata.suplementoportipoChofer %> € = <%= mult %> €

                                <% } else { %>
                                    <%= dias %> <%=it.locations.dia %> x <%=it.formdata.suplementoportipoChofer %> € = <%=it.formdata.suplementoportipoChofer %> €
                                    <% mult = (it.formdata.suplementoportipoChofer - 0) %>
                                <% } %>

                            </div>
                        <% } %>
                        <div class="titTotReserva">
                            <%=it.locations.total_titulo %>
                        </div>
                        <div class="valorTotReserva">
                            <% if (it.formdata.suplementoportipoChofer !== undefined) { %>
                                <% subtotal = (it.formdata.preciototaldias - 0) + (mult) %>
                                <%= subtotal %> €
                            <% } else { %>
                                <% subtotal=(it.formdata.preciototaldias - 0) %>
                                <%= subtotal %> €
                            <% } %>
                        </div>
        
                        <div class="titValorRecogida">
                            <%= it.locations.pago_recogida_titulo %>
                        </div>
                        <div class="ValorRecogida">
                            
                            <%=it.formdata.pagoRecogida %> €
                        
                        </div>
        
                        <div class="titValorOnline">
                            <%= it.locations.pago_online_titulo %>
                        </div>
                        <div class="ValorOnline">
                            <% let tota = subtotal - ( it.formdata.pagoRecogida - 0 )%>
                            <%= tota %> €
                            
                        </div>
                        <!--- Fin Cargos de la reserva --->
                    </div>
                </section>
            </div>
            <!----------------------- Fin Datos Reserva  ---------------------------->

            <!-----------------  Inicio Beneficios ------------------------------------------>
            <div class="beneficios">
                <div class="includPrice-container">
                    <span class="tit-includPrice-container"><%it.locations.incluido_precio_titulo %>
                        <ul class="includPrice-contenido">
                            <li class="tooltipBlanco" title="<%=it.locations.title_seguro_todoriesgo %>" data-tooltip="<%=it.locations.title_seguro_todoriesgo %>">
                            <img src="./img/svg/hechoSmall.svg" class="icon-25" alt="<%=it.locations.alt_icono_reservar %>"><%=it.locations.seguro_incluido_titulo %>
                            </li>
                            <li class="tooltipBlanco" title="<%=it.locations.title_sillas %>" data-tooltip="<%=it.locations.title_sillas %>">
                                <img src="./img/svg/hechoSmall.svg" class="icon-25"  alt="<%=it.locations.alt_icono_reservar %>"><%=it.locations.sillas_elevadores_titulo %>
                            </li>
                            <li class="tooltipBlanco" title="<%=it.locations.title_cancelar %>" data-tooltip="<%=it.locations.title_cancelar %>">
                                <img src="./img/svg/hechoSmall.svg" class="icon-25"  alt="<%=it.locations.alt_icono_reservar %>"><%=it.locations.cancelacion_titulo %>
                            </li>
                            <li class="tooltipBlanco" title="<%=it.locations.title_impuestos %>" data-tooltip="<%=it.locations.title_impuestos %>">
                                <img src="./img/svg/hechoSmall.svg" class="icon-25" alt="<%=it.locations.alt_icono_reservar %>"><%=it.locations.impuestos_titulo %>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <!-----------------  Fin  Beneficios ------------------------------------------>
            
            <!-----------------  Inicio sillas y elevadores para niños  ------------------->
            <div class="sillasBox">
                <section class="sillasContent">
                    <div class="titSillas">
                        <h2><i class="icoSillas"></i><%=it.locations.asientos_titulo %></h2>
                    </div>
                    <div>
                        <div class="datBox">
                            <div class="form-group">
                                <ul class="">
                                    <li class="sillas">
                                        <img src="./img/img-childSeat/img-childSeat.svg" class="silla" alt="<%=it.locations.asientos_titulo %>">
                                        <select name="child_seat" id="child_seat" class="safariSelect casilla">
                                            <option value="0" selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <a class="info infoIco" data-tooltip-location="top" data-tooltip="<%=it.locations.asientos_titulo %>">
                                            <strong>info</strong>
                                        </a>
                                        
                                        <label class="titulo"><%=it.locations.asientos_titulo %></label>
                                        <p class="descripcion">
                                            <%=it.locations.descripcion_asientos %>
                                            <span class="text-nowrap"><%=it.locations.descripcion_asientos_dos %></span>
                                        </p>
                                        
                                    </li>
                                    
                                    <li class="sillas">
                                        <img src="./img/img-childSeat/boosterSeat.svg" class="silla" alt="<%=it.locations.elevadores_titulo %>">
                                        <select name="booster_seat" id="booster_seat" class="safariSelect casilla">
                                            <option value="0" selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>

                                        <a class="info infoIco" data-tooltip-location="top" data-tooltip="<%=it.locations.elevadores_titulo %>"> 
                                            <strong>info</strong>
                                        </a>
                                        <label class="titulo"><%=it.locations.elevadores_titulo %></label>
                                    
                                        <p class="descripcion">
                                            <%=it.locations.elevadores_descripcion %>
                                            <span class="text-nowrap"><%=it.locations.elevadores_descripcion_dos %></span>
                                        </p>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-----------------  Fin sillas y elevadores para niños  ------------------->
            <div class="yellow">
                <h2><i class="ico ico-user"></i>
                    <%=it.locations.datos_conductor_titulo %>
                </h2>
                <div class="databox">
                    <!---------   Inicio Sr / Sra ------------------------>
                    <div class="form-group required">
                        <label for="titulo">
                            <%=it.locations.datos_titulo_titulo %>
                        </label>
                        <div class="radio-inline">
                            <label for="Sr">
                                <%=it.locations.sr_titulo %>
                                <input type="radio" value="Sr" name="titulo" id="Sr">
                            </label>
                            <label for="Sr">
                                <%=it.locations.sra_titulo %>
                                <input type="radio" value="Sra" name="titulo" id="Sra">
                            </label>
                        </div>
                    </div>
                    <!------------   Fin Sr / Sra ------------------------>
                
                    <!---------   Nombre  -------------------------->
                    <div class="form-group required valide">
                        <label for="nombre">
                            <%=it.locations.nombre_titulo %>
                        </label>
                        <input type="text" id="nombre" name="nombre" size="65" value maxlength="50" placeholder="<%=it.locations.nombre_titulo %>">
                    </div>
                
                    <!---------  Apellidos  ----------------------->
                    <div class="form-group required valide">
                        <label for="apellidos">
                            <%=it.locations.apellidos_titulo %>
                        </label>
                        <input type="text" id="apellidos" name="apellidos" size="65" value maxlength="50" placeholder="<%=it.locations.apellidos_titulo %>">
                    </div>
                
                    <!---------   E-mail  ------------------------->
                    <div class="form-group required valide">
                        <label for="email">
                            <%=it.locations.email_titulo %>
                        </label>
                        <input type="text" id="email" name="email" size="65" value onchange maxlength="50"
                            placeholder="<%=it.locations.email_descripcion %>">
                    </div>
                    <div class="info-fieldcontainer">
                        <div class="info-fieldcontain">
                            <%=it.locations.email_descripcion_dos %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
