<div class="carruselSlider">
    <div id="carousel" class="carousel slide " data-ride="carousel">
        <a class="carrusel-control-prev carrusel-control" href="#carousel" role="button" data-slide="prev">
            <img src="img/svg/carrusel_control_previous.svg" class="icono-azul" alt="<%=it.locations.alt_anterior %>">
        </a>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="row row-custom ">
                    <% for (let i=0; i < 5; i++) { %>
                        <% if (it.data[i]===undefined ) continue; %>
                            <div class="columna col-p">
                                <h5 class="nombre-car-slider">
                                    <%= it.data[i].descripcion %>
                                </h5>
                                <picture>
                                    <% if (it.isAvifSupported===true) { %>
                                        <source data-srcset="./img/Img-Vehiculos/<%= it.data[i].ImagenVehiclo %>_Slider.avif">
                                    <% } %>
                                    <source
                                        data-srcset="./img/Img-Vehiculos/<%= it.data[i].ImagenVehiclo %>_Slider.webp">
                                    <img class="img-ta lazyload"
                                        data-src="img/Img-Vehiculos/<%= it.data[i].ImagenVehiclo %>_Slider.png"
                                        alt="<%= it.data[i].descripcion %>">
                                </picture>




                                <div class="precio">
                                    <p class="precio-txt">
                                        <%=it.locations.desde %>
                                    </p>
                                    <p class="precio-p">
                                        <%= it.data[i].preciopordiasindescuento %>€
                                    </p>
                                </div>
                            </div>
                            <% } %>
                </div>
            </div>
            <% let cantidadRows=Math.ceil(it.data.length / 5); %>
                <% let puntero=5 %>

                    <% for (let rows=1; rows < 3; rows++) { %>

                        <div class="carousel-item">
                            <!--  row-p -->
                            <div class="row row-custom">
                                <% for (let x=0; x < 5; x++) { %>

                                    <% if (it.data[puntero]===undefined ) puntero=5; %>
                                        <div class="columna col-p">
                                            <h5 class="nombre-car-slider">
                                                <%= it.data[puntero].descripcion %>
                                            </h5>
                                            <picture>
                                                <% if (it.isAvifSupported===true) { %>
                                                    <source data-srcset="./img/Img-Vehiculos/<%= it.data[puntero].ImagenVehiclo %>_Slider.avif">
                                                <% } %>
                                                <source
                                                    data-srcset="./img/Img-Vehiculos/<%= it.data[puntero].ImagenVehiclo %>_Slider.webp">
                                                <img class=" img-ta lazyload"
                                                    data-src="img/Img-Vehiculos/<%= it.data[puntero].ImagenVehiclo %>_Slider.png"
                                                    alt="<%= it.data[puntero].descripcion %>">
                                            </picture>

                                            <div class="precio">
                                                <p class="precio-txt">
                                                    desde
                                                </p>
                                                <p class="precio-p">
                                                    <%= it.data[puntero].preciopordiasindescuento %>€
                                                </p>
                                            </div>
                                        </div>
                                        <% puntero=puntero + 1; %>
                                            <% } %>
                            </div>
                        </div>

                        <% } %>

        </div>
        <a class=" carrusel-control-next carrusel-control" href="#carousel" role="button" data-slide="next">
            <img src="img/svg/carrusel_control_next.svg" class="icono-azul" alt="<%=it.locations.alt_siguiente %>">
        </a>
    </div>
</div>